Find 3 search terms for a vector database for the following job search prompt. Include all relevant details in each search term.

Do not include any explanations, only provide a  RFC8259 compliant JSON response following this format without deviation.
["search term 1", "search term 2", "search term 3"]

{{.}}